<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пациент</title>
    <style>
        td{
            border: solid 1px silver;
            text-align:center;
            }
    </style>
    <div th:insert="~{fragments :: Bootstrap}"></div>
</head>

<body>

<div th:insert="~{fragments :: Navbar}"></div>
<br>
<h3 th:text="Пациент + ' ' + ${patient.firstName} + ' ' + ${patient.secondName}"></h3>

<div>
    <table>
        <thead>
        <td width="30px">ID</td>
        <td width="100px">Страховка №</td>
        <td width="200px">Лечащий врач</td>
        <td width="400px">Диагноз</td>
        <td width="100px">Статус</td>
        </thead>

        <tr>
            <td th:text="${patient.id}"/>
            <td th:text="${patient.insurance}"/>
            <td th:text="${patient.doctor.secondName} + ' ' + ${patient.doctor.firstName}"/>
            <td th:text="${patient.diagnosis}"/>
            <td th:text="${patient.status}"/>
            <td>
                <form th:method="GET" th:action="@{/doctor/prescriptions/patients/{id}/new/(id=${patient.id})}">
                    <button type="submit" class="btn btn-primary">Назначить лечение</button>
                </form>
            </td>
            <td>
                <form th:method="GET" th:action="@{/doctor/prescriptions/patients/{id}(id=${patient.id})}">
                    <button type="submit" class="btn btn-primary">Список назначений</button>
                </form>
            </td>
            <td>
                <form th:method="PATCH" th:action="@{/doctor/patients/{id}(id=${patient.id})}">
                    <button type="submit" class="btn btn-primary">Выписать</button>
                </form>
            </td>
        </tr>
    </table>
</div>
    <br>
    <form th:method="GET" th:action="@{/doctor/patients/edit/{id}(id=${patient.id})}">
        <button type="submit" class="btn btn-primary">Редактировать</button>
    </form>
    <br>
    <form th:method="DELETE" th:action="@{/doctor/patients/{id}(id=${patient.id})}">
        <button type="submit" class="btn btn-primary">Удалить</button>
    </form>

<div th:insert="~{fragments :: Optionals}"></div>

</body>
</html>